<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>
<body>
    <div class="success-container">
        <h1>You are now Logged In</h1>
        <p>Thank you for using this system, <%= email %></p>
        <button class="login-register"><a href="/blog">Home</a></button>
    </div>

</body>
</html>